<!DOCTYPE html>
<html ng-app="human">
<head>
  <title>Human</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet"  href="/assets/skins/lightgray/skin.min.css">
  <link rel="stylesheet"  href="/assets/skins/lightgray/content.min.css">

</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner no-shadow">
      <div class="container-fluid">
        <a class="brand" href="/#/">Human</a>
        <ul class="nav pull-right">
          <li>
            <a href="/#/newPost">New</a>
          </li>
          <li>
            <% if user_signed_in? %>
              <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
            <% else %>
              <a href="/users/sign_in">Sign In</a>
            <% end %>
          </li>
        </ul>
        <div ng-controller="TypeaheadCtrl">
          <form class="navbar-search pull-right" ng-submit="submit()">
            <input type="text" ng-model="typeSelected"  typeahead-on-select="selected()" typeahead="result.name for result in results | filter:$viewValue" class="search-query" placeholder="Search">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="clear-nav">
  </div>
  <!--<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>-->
  <%= yield %>

  <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
</body>
</html>
